@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #fff;
}

#react-demo-root {
  width: 100%;
  min-height: 640px;
}

ul[data-testid="tree-main"] li[data-testid="vertical-item-row"],
ul[data-testid="tree-main"] li[data-testid="timeline-item-row"] {
  margin-bottom: 2rem !important;
}

ul[data-testid="tree-main"] {
  padding-left: 3rem !important;
  padding-right: 1rem !important;
  list-style: none !important;
  margin: 0 !important;
  width: 95% !important;
}

.chrono-icons > div {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100% !important;
  height: 100% !important;
}

.timeline-vertical-circle .using-icon svg {
  margin: 0 auto !important;
}

.timeline-item-title {
  margin-bottom: 0 !important;
}

